<% include ../partials/header %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="lead">YelpCamp</p>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action active">Cras justo odio</li>
          <li class="list-group-item list-group-item-action">Dapibus ac facilisis</li>
          <li class="list-group-item list-group-item-action">Morbi leo risus</li>
        </ul>
      </div>

      <div class="col-md-9">

        <div class="card mb-4">
          <img class="card-img-top" src="<%= campground.image %>" />
          <div class="card-body">

            <div class="card-title d-flex justify-content-between font-weight-bold" style="font-size: 1.6rem;">
              <div class="campground-title">
                <p><%= campground.name %></p>
                <% if(user && campground.author.id.equals(user._id)) { %>
                  <form class="campground-delete_form" action='/campgrounds/<%=campground._id%>?_method=DELETE' method='POST'>
                    <button type="submit" class="btn btn-danger cross-icon"></button>
                  </form>
                <% } %>
              </div>
              <p>$9.00/night</p>
            </div>
            <span class="text-muted" style="font-size: 0.6em;font-weight:normal; display:block;  "><em>submitted by <%= campground.author.username %></em></span>
            <p class="card-text"><%= campground.description %></p>
            <div class="d-flex justify-content-between">
              <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
              <% if(user && campground.author.id.equals(user._id)) { %>
                <a class="btn btn-info" href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
              <% } %>
            </div>
          </div>
        </div>

        <div class="card card-body bg-light mb-2" style="font-size:0.8rem">
          <% campground.comments.forEach(comment => { %>

            <div class="row justify-content-between">
              <div class="col">
                <p class="mb-0"><strong><%= comment.author.username %></strong></p>
              </div>
              <div class="col text-right">
                <p class="mb-0">10 days ago</p>
              </div>
            </div>

            <div class="row">
              <p class="col"><%= comment.text %></p>
            </div>

            <hr/>

          <% }) %>
        </div>



      </div>
    </div>
  </div>

<% include ../partials/footer %>
